body,
html {
    font-size: 67.5%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

/* ? Exercise 1 */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    background-color: #3e5cca;
}

.container {
    max-width: 1130px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.nav-item {
    border-left: 1px solid #333;
    position: relative;
}

.nav-item:first-child {
    border-left: none;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 27px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: all ease-in-out 0.25s;
}

.nav-link:hover,
.nav-link.active {
    color: #333;
    background-color: #fff;
}

.nav-link:active,
.drop-down-link:active {
    color: #fff;
    background-color: #314aa3;
}

.drop-down {
    position: absolute;
    top: 75px;
    left: 0;
    z-index: 10;
    min-width: 220px;
    max-width: 290px;
    background-color: #fff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.2s;
}

.nav-item:hover .drop-down {
    opacity: 1;
    visibility: visible;
}

.drop-down-list {
    padding-left: 0;
    list-style: none;
}

.drop-down-item {
    padding: 24px 18px;
    cursor: pointer;
}

.drop-down-item + .drop-down-item {
    border-top: 1px solid #e5e5e5;
}

.drop-down-link {
    font-weight: 600;
    color: #333;
    text-decoration: none;
}

.drop-down-link::before {
    content: "\25B6";
    display: inline;
}

.wave {
    height: 250px;
    background-color: #3e5cca;
}

/* ? Exercise 2 */
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    margin: 0 auto;
}

.main {
    width: 500px;
    height: auto;
    padding: 32px 24px 0 24px;
    border-radius: 12px;
    box-shadow: 10px 10px 24px 2px rgba(0, 0, 0, 0.3);
}

.form-heading {
    margin-bottom: 24px;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-radio-group {
    display: flex;
    align-items: center;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.4rem;
    font-weight: 600;
}

.form-radio-group label {
    margin: 2px 8px 0 2px;
    font-size: 1.4rem;
}

.form-input {
    width: 100%;
    height: 30px;
    padding: 0 8px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    outline: none;
}

.avatar-img {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
}

.btn {
    width: 100%;
    padding: 12px 0;
    border: 1px solid #000;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    color: #fff;
    background-color: #3e5cca;
    transition: opacity ease-in-out 0.2s;
}

.btn:hover {
    opacity: 0.9;
}

/* ? Exercise 3 */
.pricing {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 2rem;
}

.plan {
    width: 250px;
    padding: 1.5rem;
    border-radius: 10px;
    background: #f1f1f1;
    cursor: pointer;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow, transform 0.3s ease;
}

.plan:hover,
.plan:nth-child(2):hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
}

.plan:nth-child(2) {
    border: 2px solid #c7c59a;
    background: #fff;
}

.plan-heading {
    margin-bottom: 8px;
    font-size: 2.4rem;
    font-weight: 700;
}

.plan-desc {
    margin-bottom: 12px;
    font-size: 1.2rem;
    color: #5e5e5e;
}

.price {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 4px;
}

.price strong {
    font-size: 2rem;
}

.price-desc {
    font-size: 1rem;
    color: #5e5e5e;
    margin-bottom: 12px;
}

.price-btn {
    width: 100%;
    padding: 4px 30px;
    border: 2px solid #4c9c62;
    border-radius: 4px;
    margin-bottom: 30px;
    background: #4c9c62;
    color: #fff;
    cursor: pointer;
    transition: opacity ease-in-out 0.3s;
}

.price-btn:hover {
    opacity: 0.8;
}

.price-btn.current {
    border: 2px solid #e5e5e5;
    background: #e5e5e5;
    color: #000;
}

.plan li {
    margin-bottom: 12px;
    font-size: 1.2rem;
}

.plan li::before {
    content: "✓ ";
    color: green;
}

/* ? Exercise 4 */
.blog-post {
    line-height: 1.5;
}

.blog-post ::selection {
    background: gold;
    color: black;
}

.blog-post .date {
    font-size: 1.2rem;
    font-weight: 600;
}

.blog-post .blog-heading {
    margin-bottom: 8px;
    font-size: 2.8rem;
    font-weight: 600;
}

.blog-post .blog-desc {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

.blog-post .paragraph {
    font-size: 1.4rem;
    margin: 8px 0;
}

.blog-post .paragraph::first-line {
    font-weight: bold;
    color: #444;
}

.blog-post p.paragraph:first-of-type::first-letter {
    font-size: 4rem;
    font-weight: bold;
    float: left;
    line-height: 1;
    padding-right: 8px;
}

.blog-post blockquote {
    padding-left: 12px;
    border-left: 4px solid gold;
    margin: 24px 0;
    font-size: 1.4rem;
    color: gray;
}

.blog-post blockquote::before {
    content: "“";
    font-size: 4rem;
    color: #999;
    margin-right: 5px;
}

.blog-post :not(h1):is(h2, h3, h4, h5, h6) {
    color: darkslateblue;
}

.comment {
    padding: 5px;
    margin-bottom: 5px;
    font-size: 1rem;
    background: #f0f0f0;
    cursor: pointer;
    transition: transform 0.3s;
}

.comment:hover {
    background: #e0e0e0;
    transform: translateX(5px);
}

.comment:first-child {
    margin-top: 30px;
}

.comment:nth-of-type(odd) {
    background-color: #fffbe6;
}

.comment:nth-of-type(even) {
    background-color: #e6f7ff;
}
